<div class="password-change-container">
  <h2>Change Password</h2>
  <form (ngSubmit)="onSubmit()" #changeForm="ngForm">

    <div class="form-floating mb-4">
      <input matInput type="password" class="form-control" id="floatingOldPassword" [(ngModel)]="oldPassword" name="oldPassword" required placeholder="Current Password">
      <label for="floatingOldPassword">Current Password</label>
    </div>

    <div class="form-floating mb-4">
      <input matInput type="password" class="form-control" id="floatingNewPassword" [(ngModel)]="newPassword" name="newPassword" required placeholder="New Password">
      <label for="floatingNewPassword">New Password</label>
    </div>

    <div class="form-floating mb-4">
      <input matInput type="password" class="form-control" id="floatingConfirmPassword" [(ngModel)]="confirmPassword" name="confirmPassword" required placeholder="Confirm New Password">
      <label for="floatingConfirmPassword">Confirm New Password</label>
    </div>

    <button mat-raised-button color="primary" type="submit" [disabled]="!changeForm.valid">
      Change Password
    </button>
  </form>
</div>
