<div class="password-reset-container">
  <h2>Password Reset</h2>
  <form (ngSubmit)="onSubmit()" #resetForm="ngForm">
    
    <div class="form-floating mb-3">
      <input matInput type="email" class="form-control" id="floatingEmail" [(ngModel)]="email" name="email" required placeholder="Email">
      <label for="floatingEmail">Email</label>
    </div>

    <button mat-raised-button color="primary" type="submit" [disabled]="!resetForm.valid">
      Send Reset Email
    </button>
  </form>
</div>
