<div class="services-container">
  <mat-card class="service-card" (click)="navigateTo('exercises')">
    <div class="icon-container">
      <mat-icon class="service-icon">fitness_center</mat-icon>
    </div>
    <mat-card-header>
      <mat-card-title>Exercises</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>Explore a variety of exercises for all muscle groups with descriptions and instructional videos.</p>
    </mat-card-content>
  </mat-card>
  
  <mat-card class="service-card" (click)="navigateTo('recommendations')">
    <div class="icon-container">
      <mat-icon class="service-icon">recommend</mat-icon>
    </div>
    <mat-card-header>
      <mat-card-title>Exercise Recommendations</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>Get personalized exercise recommendations based on your goals and preferences.</p>
    </mat-card-content>
  </mat-card>
  
  <mat-card class="service-card" (click)="navigateTo('meals')">
    <div class="icon-container">
      <mat-icon class="service-icon">restaurant_menu</mat-icon>
    </div>
    <mat-card-header>
      <mat-card-title>Meal Recommendations</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>Receive tailored meal plans to support your fitness journey and dietary preferences.</p>
    </mat-card-content>
  </mat-card>
  
  <mat-card class="service-card" (click)="navigateTo('trainers')">
    <div class="icon-container">
      <mat-icon class="service-icon">group</mat-icon>
    </div>
    <mat-card-header>
      <mat-card-title>Trainers</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>Connect with professional trainers for personalized advice and training programs.</p>
    </mat-card-content>
  </mat-card>
</div>
