<mat-card class="reset-password-card">
  <h2>Reset Your Password</h2>
  <form (ngSubmit)="onSubmit()" #confirmForm="ngForm">

    <div class="form-floating mb-4">
      <input matInput type="password" class="form-control" id="newPassword" [(ngModel)]="newPassword" name="newPassword" required placeholder="New Password">
      <label for="newPassword">New Password</label>
      <mat-error *ngIf="confirmForm.controls['newPassword']?.invalid">
        New Password is required
      </mat-error>
    </div>

    <div class="form-floating mb-4">
      <input matInput type="password" class="form-control" id="confirmPassword" [(ngModel)]="confirmPassword" name="confirmPassword" required placeholder="Confirm Password">
      <label for="confirmPassword">Confirm Password</label>
      <mat-error *ngIf="confirmForm.controls['confirmPassword']?.invalid">
        Confirm Password is required
      </mat-error>
    </div>

    <button mat-raised-button color="primary" type="submit" [disabled]="!confirmForm.valid">
      Reset Password &nbsp; <i class="fa-solid fa-rotate-left"></i>
    </button>
  </form>
</mat-card>
